@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
}

.clbr-container {
    background-color: #fff;
    width: 1500px;
    height: 900px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.clbr-content {
    margin-top: 20px;
} 

/* Header style */
.clbr-header {
    width: 800px;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 60px;
}

.clbr-title {
    font-weight: 700;
    font-size: 1.3em;
}

.clbr-des {
    color: #333;
    margin-top: 10px;
    font-size: 1em;
}

/* Exhibit card section */
.clbr-exhibit-section {
    width: 850px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-block: 25px;
    padding-inline: 30px;
    margin-inline: auto;
    margin-bottom: 50px;
    justify-content: center;
    border-radius: 20px;
    background-color: #e8e3e3;
    cursor: pointer;
}

.clbr-img-wrapper1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.clbr-img-wrapper2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.clbr-exhibit-card {
    width: 220px;
    height: 220px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.clbr-exhibit-card1 {
    width: 250px;
    height: 455px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.clbr-exhibit-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Button style */
.clbr-cancel-request {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-inline: auto;
    background-color: #b61616;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 20px;
    cursor: pointer;
}

.clbr-cancel-request:hover {
    background-color: #cc1322;
}

/* MODAL */
.clbr-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.clbr-modal-content {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.clbr-modal-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

.clbr-nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 50%;
    z-index: 1010;
}

.clbr-left-btn {
    left: 10px;
}

.clbr-right-btn {
    right: 10px;
}

.clbr-nav-btn:hover {
    background: rgba(255, 255, 255, 1);
}

.clbr-replace-container {
    text-align: center;
    margin-top: 10px;
}

.clbr-replace-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
}

#clbr-replace-input {
    display: none; 
}

/* POPUP MSG */
#clbr-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.clbr-buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.clbr-con {
    width: 90px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #b61616;
    color: white;
    transition: background-color 0.3s ease;
}

.clbr-con:hover {
    background-color: #cc1322;
}

.clbr-can {
    width: 90px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
    color: gray;
    transition: background-color 0.3s ease;
}

.clbr-can:hover {
    color: black;
    border: 1px solid black;
}

.clbr-popup {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.clbr-popup p {
    margin-bottom: 20px;
    font-size: 18px;
}
